name: Publish the Errsole package to npm

on:
  release:
    types: [created]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm run build:web
        env:
          NODE_OPTIONS: --openssl-legacy-provider
      - run: rm -rf lib/web/src/
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
